{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div style="height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(135deg, #1c1c2b, #3d3d5a);">

    <div class="container">
        <div class="card bg-secondary p-4 shadow-lg" style="max-width: 400px; margin: auto;">
            <h3 class="mb-3 text-light text-center">Login</h3>

            <form method="POST">
                <input type="text" name="username"
                       class="form-control mb-3"
                       placeholder="Enter username"
                       required>

                <button class="btn btn-success w-100">Login</button>
            </form>
        </div>
    </div>

</div>
{% endblock %}
